<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Editar e-mail</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form id="fileuploadForm" action="#" th:action="@{/enviar}"
		th:object="${email}" method="POST" enctype="multipart/form-data">
		<input type="file" name="file"/>
		</br></br>
		
		<input type="text" th:field="*{subject}" />
		</br></br>
		<textarea type="text" th:field="*{text}"></textarea>

		<!-- <p>Importar contatos:</p>
		<label for="file">Arquivo</label> <input id="file" type="file" name="file" /> -->
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
</body>
</html>